<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="stylesheets/main-style.css">
        <link rel="stylesheet" href="stylesheets/header.css">
        <link rel="stylesheet" href="stylesheets/footer.css">
        <link rel="stylesheet" href="stylesheets/main-slideshow.css">
        <link rel="stylesheet" href="stylesheets/index-main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="javascripts/nav-menu.js"></script>
        <script src="javascripts/scroll-to-top.js"></script>
        <script type="text/javascript" src="javascripts/jssor.slider.mini.js"></script>
    </head>
<body>
<span id="top"></span>
<script>
    jQuery(document).ready(function ($) {

        var jssor_1_SlideoTransitions = [
            [{b:5500,d:3000,o:-1,r:240,e:{r:2}}],
            [{b:-1,d:1,o:-1,c:{x:51.0,t:-51.0}},{b:0,d:1000,o:1,c:{x:-51.0,t:51.0},e:{o:7,c:{x:7,t:7}}}],
            [{b:-1,d:1,o:-1,sX:9,sY:9},{b:1000,d:1000,o:1,sX:-9,sY:-9,e:{sX:2,sY:2}}],
            [{b:-1,d:1,o:-1,r:-180,sX:9,sY:9},{b:2000,d:1000,o:1,r:180,sX:-9,sY:-9,e:{r:2,sX:2,sY:2}}],
            [{b:-1,d:1,o:-1},{b:3000,d:2000,y:180,o:1,e:{y:16}}],
            [{b:-1,d:1,o:-1,r:-150},{b:7500,d:1600,o:1,r:150,e:{r:3}}],
            [{b:10000,d:2000,x:-379,e:{x:7}}],
            [{b:10000,d:2000,x:-379,e:{x:7}}],
            [{b:-1,d:1,o:-1,r:288,sX:9,sY:9},{b:9100,d:900,x:-1400,y:-660,o:1,r:-288,sX:-9,sY:-9,e:{r:6}},{b:10000,d:1600,x:-200,o:-1,e:{x:16}}]
        ];

        var jssor_1_options = {
            $AutoPlay: true,
            $SlideDuration: 800,
            $SlideEasing: $Jease$.$OutQuint,
            $CaptionSliderOptions: {
                $Class: $JssorCaptionSlideo$,
                $Transitions: jssor_1_SlideoTransitions
            },
            $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
            },
            $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
            }
        };

        var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);

        function ScaleSlider() {
            var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
            if (refSize) {
                refSize = Math.min(refSize, 1920);
                jssor_1_slider.$ScaleWidth(refSize);
            }
            else {
                window.setTimeout(ScaleSlider, 30);
            }
        }
        ScaleSlider();
        $(window).bind("load", ScaleSlider);
        $(window).bind("resize", ScaleSlider);
        $(window).bind("orientationchange", ScaleSlider);
        //responsive code end
    });
</script>
    <div id="wrapper">
        <header>
            <form id="search-bar" action="results-search.php" method="get" enctype="multipart/form-data">
                <label id="search-label" for="search-bar-input"></label>
                <input type="text" placeholder="Търсете прдукти..." name="user-guery" id="search-bar-input"/>
                <button id="search-button" type="submit">Търси</button>
            </form>
            <img id="logo" src="images/logo.png" alt="Logo">
            <nav>
                <ul id="navigation">
                    <li>
                        <a href="#">Дамска колекция</a>
                        <ul class="fallback">
                            <li class="sub-menu"><a class="menu-link" href="#">-Колиета</a></li>
                            <li class="sub-menu"><a class="menu-link" href="#">-Гривни</a></li>
                            <li class="sub-menu"><a class="menu-link" href="#">-Комплекти</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Мъжка колекция</a>
                        <ul id="nd-nav" class="fallback">
                            <li class="sub-menu"><a class="menu-link" href="#">-Колиета</a></li>
                            <li class="sub-menu"><a class="menu-link" href="#">-Гривни</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Амулети</a>
                    </li>
                    <li><a href="#">Gil Delux</a></li>
                    <li><a href="#">Пазпродажба</a></li>
                    <li><a href="#">Св. Валентин</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <section id="slider">
                <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('styles/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
                    </div>
                    <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                        </div>
                    </div>
                    <!-- Bullet Navigator -->
                    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
                        <!-- bullet navigator item prototype -->
                        <div data-u="prototype" style="width:16px;height:16px;"></div>
                    </div>
                    <!-- Arrow Navigator -->
                    <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
                    <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
                    <a href="http://www.jssor.com" style="display:none">Bootstrap Carousel</a>
                </div>
            </section>
            <hr class="style-one"/>
            <section id="refers">
                <div class="column">
                    <figure class="block">
                        <a href="#">
                            <div class="px-border">
                                <div class="img-1"></div>
                                <div class="card">
                                    <div class="side">
                                        <h1 class="desc">MANTRA</h1>
                                        <p class="desc">Ритуал</p>
                                    </div>
                                    <div class="side back">
                                        <a href="#">Виж още</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </figure>
                    <figure class="">
                        <div class="frame">
                            <div id="inner-block-1">
                                <p class="info-cell-title">КОНТАКТ С НАС</p>
                                <p class="info-cell-title">0988 352 784</p>
                                <a href="#" class="box-button-text">
                                    <div class="box-button">ОЩЕ ИНФОРМАЦИЯ</div>
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
                <div class="column">
                    <figure class="block">
                        <a href="">
                            <div class="px-border">
                                <div id="img-2"></div>
                                <div class="card-2">
                                    <div class="side">
                                        <h1 class="desc">Exclusive Man</h1>
                                        <p class="desc">collection.</p>
                                    </div>
                                    <div class="side back">
                                        <a href="#">Виж още</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </figure>
                </div>
                <div class="column">
                    <figure class="block">
                        <div class="frame-2">
                            <div id="inner-block-2">
                                <p class="info-cell-title">КОНТАКТ С НАС</p>
                                <p class="info-cell-title">0988 352 784</p>
                                <a href="#" class="box-button-text">
                                    <div class="box-button">ОЩЕ ИНФОРМАЦИЯ</div>
                                </a>
                            </div>
                        </div>
                    </figure>
                    <figure id="block-1" class="block">
                        <a class="" href="">
                            <div class="px-border">
                                <div class="img-1"></div>
                                <div class="card-nd-2">
                                    <div class="side">
                                        <h1 class="desc-2">MANTRA</h1>
                                        <p id="desc-2-nd-2" class="desc-2">Ритуал</p>
                                    </div>
                                    <div class="side back">
                                        <a id="img-link-2" href="#">Виж още</a>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </figure>
                </div>
            </section>
            <section>
                <hr class="style-two"/>
                <article id="info-delivery">
                    <div>
                        <div class="info-img-1"></div>
                        <div class="desc-x">
                            <p class="heading">Ръчно изработени талисмани.</p>
                            <p class="contain">С представянето на тибетския стил пред българската аудитория, ние преобразихме изцяло света на бижутата в страната.</p>
                        </div>
                        </div>
                    <div>
                        <div class="info-img-2"></div>
                        <div class="desc-x">
                            <p class="heading">Ръчно изработени талисмани.</p>
                            <p class="contain">С представянето на тибетския стил пред българската аудитория, ние преобразихме изцяло света на бижутата в страната.</p>
                        </div>
                    </div>
                    <div>
                        <div class="info-img-3"></div>
                        <div class="desc-x">
                            <p class="heading">Ръчно изработени талисмани.</p>
                            <p class="contain">С представянето на тибетския стил пред българската аудитория, ние преобразихме изцяло света на бижутата в страната.</p>
                        </div>
                    </div>
                </article>
                <hr class="style-two" />
            </section>
        </main>
        <footer>
            <section>
                <div class="footer-contains-1">
                    <p class="footer-headings">ЗА НАС</p>
                    <hr class="style-three" />
                    <p class="footer-desc">Всички бижута BALLA са изработени от сребро, стомана, минерали, елементи Swarovski, циркониеви диаманти и разнообразни корди.</p>
                </div>
                <div id="first" class="footer-contains">
                    <p class="footer-headings">ИНФОРМАЦИЯ</p>
                    <hr class="style-three" />
                    <ul>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Наши магазини</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Платежни Модули</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Условия за ползване</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Срокове и Доставка</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Защита на данни</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Контакт с Нас</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-contains">
                    <p class="footer-headings">ЕКСТРИ</p>
                    <hr class="style-three" />
                    <ul>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Наши магазини</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Платежни Модули</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Условия за ползване</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Срокове и Доставка</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Защита на данни</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Контакт с Нас</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-contains">
                    <p class="footer-headings">ПРОФИЛ</p>
                    <hr class="style-three" />
                    <ul>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Наши магазини</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Платежни Модули</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Условия за ползване</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Срокове и Доставка</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Защита на данни</a>
                        </li>
                        <li>
                            <div class="attribute"></div>
                            <a href="">Контакт с Нас</a>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="style-four" />
            <p class="copyr">Всичкчи права запазени BALLA BULGARIA™ 2015<br />BALLA BOUTIQUE © 2016</p>
            <img id="footer-img" src="http://balla.bg/image/data/0/1/cards.jpg" alt="">
        </footer>
    </div>
<a href="#top" class="back-to-top"></a>
</body>
</html>