<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <% include templates/includes.ejs %>
    </head>
<body>
<span id="top">Lel</span>
    <% include templates/script.ejs %>
    <div id="wrapper">
        <% include templates/top.ejs %>
        <% include templates/main-content.ejs %>
        <% include templates/footer.ejs %>
    </div>
<a href="#top" class="back-to-top"></a>
</body>
</html>