<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
</head>
<body>
	<form action="/register/submit" method="post">
		<p>Register</p>
		<% if(locals.messages){ %>
			<% if(messages.length > 0){ %>
				<% for(var i = 0; i < messages.length; i++){ %>
					<p style="color: red"><%= messages[i] %></p>
				<% } %>
			<% } %>
		<% } %>
		<div class="input_row">
			<input id="name" type="text" name="name" autofocus>
			<label for="email"> Name</label><br>
		</div>
		<div class="input_row">
			<input id="email" type="text" name="email">
			<label for="email"> Email</label>
		</div>
		<div class="input_row">
			<input id="password" type="password" name="password">
			<label for="password"> Password</label>
		</div>
		<input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<input type="submit" value="Register" class="submit">
	</form>
</body>
</html>