<footer>
    <section>
        <div class="footer-contains-1">
            <p class="footer-headings">ЗА НАС</p>
            <hr class="style-three" />
            <p class="footer-desc">Всички бижута BALLA са изработени от сребро, стомана, минерали, елементи Swarovski, циркониеви диаманти и разнообразни корди.</p>
        </div>
        <div id="first" class="footer-contains">
            <p class="footer-headings">ИНФОРМАЦИЯ</p>
            <hr class="style-three" />
            <ul>
                <li>
                    <div class="attribute"></div>
                    <a href="">Наши магазини</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Платежни Модули</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Условия за ползване</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Срокове и Доставка</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Защита на данни</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Контакт с Нас</a>
                </li>
            </ul>
        </div>
        <div class="footer-contains">
            <p class="footer-headings">ЕКСТРИ</p>
            <hr class="style-three" />
            <ul>
                <li>
                    <div class="attribute"></div>
                    <a href="">Наши магазини</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Платежни Модули</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Условия за ползване</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Срокове и Доставка</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Защита на данни</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Контакт с Нас</a>
                </li>
            </ul>
        </div>
        <div class="footer-contains">
            <p class="footer-headings">ПРОФИЛ</p>
            <hr class="style-three" />
            <ul>
                <li>
                    <div class="attribute"></div>
                    <a href="">Наши магазини</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Платежни Модули</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Условия за ползване</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Срокове и Доставка</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Защита на данни</a>
                </li>
                <li>
                    <div class="attribute"></div>
                    <a href="">Контакт с Нас</a>
                </li>
            </ul>
        </div>
    </section>
    <hr class="style-four" />
    <p class="copyr">Всичкчи права запазени BALLA BULGARIA™ 2015<br />BALLA BOUTIQUE © 2016</p>
    <img id="footer-img" src="http://balla.bg/image/data/0/1/cards.jpg" alt="">
</footer>