<main>
    <section id="slider">
        <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden; visibility: hidden;">
            <!-- Loading Screen -->
            <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
                <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
                <div style="position:absolute;display:block;background:url('styles/img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
            </div>
            <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 500px; overflow: hidden;">
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
                <div data-p="225.00" style="display: none;">
                    <img data-u="image" src="stylesheets/img/dummy-640x310-4.jpg" />
                </div>
            </div>
            <!-- Bullet Navigator -->
            <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
                <!-- bullet navigator item prototype -->
                <div data-u="prototype" style="width:16px;height:16px;"></div>
            </div>
            <!-- Arrow Navigator -->
            <span data-u="arrowleft" class="jssora22l" style="top:0px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
            <span data-u="arrowright" class="jssora22r" style="top:0px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
            <a href="http://www.jssor.com" style="display:none">Bootstrap Carousel</a>
        </div>
    </section>
    <hr class="style-one"/>
    <section id="refers">
        <div class="column">
            <figure class="block">
                <a href="#">
                    <div class="px-border">
                        <div class="img-1"></div>
                        <div class="card">
                            <div class="side">
                                <h1 class="desc">MANTRA</h1>
                                <p class="desc">Ритуал</p>
                            </div>
                            <div class="side back">
                                <a href="#">Виж още</a>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
            <figure class="">
                <div class="frame">
                    <div id="inner-block-1">
                        <p class="info-cell-title">КОНТАКТ С НАС</p>
                        <p class="info-cell-title">0988 352 784</p>
                        <a href="#" class="box-button-text">
                            <div class="box-button">ОЩЕ ИНФОРМАЦИЯ</div>
                        </a>
                    </div>
                </div>
            </figure>
        </div>
        <div class="column">
            <figure class="block">
                <a href="">
                    <div class="px-border">
                        <div id="img-2"></div>
                        <div class="card-2">
                            <div class="side">
                                <h1 class="desc">Exclusive Man</h1>
                                <p class="desc">collection.</p>
                            </div>
                            <div class="side back">
                                <a href="#">Виж още</a>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
        <div class="column">
            <figure class="block">
                <div class="frame-2">
                    <div id="inner-block-2">
                        <p class="info-cell-title">КОНТАКТ С НАС</p>
                        <p class="info-cell-title">0988 352 784</p>
                        <a href="#" class="box-button-text">
                            <div class="box-button">ОЩЕ ИНФОРМАЦИЯ</div>
                        </a>
                    </div>
                </div>
            </figure>
            <figure id="block-1" class="block">
                <a class="" href="">
                    <div class="px-border">
                        <div class="img-1"></div>
                        <div class="card-nd-2">
                            <div class="side">
                                <h1 class="desc-2">MANTRA</h1>
                                <p id="desc-2-nd-2" class="desc-2">Ритуал</p>
                            </div>
                            <div class="side back">
                                <a id="img-link-2" href="#">Виж още</a>
                            </div>
                        </div>
                    </div>
                </a>
            </figure>
        </div>
    </section>
    <section>
        <hr class="style-two"/>
        <article id="info-delivery">
            <div>
                <div class="info-img-1"></div>
                <div class="desc-x">
                    <p class="heading">Ръчно изработени талисмани.</p>
                    <p class="contain">С представянето на тибетския стил пред българската аудитория, ние преобразихме изцяло света на бижутата в страната.</p>
                </div>
                </div>
            <div>
                <div class="info-img-2"></div>
                <div class="desc-x">
                    <p class="heading">Ръчно изработени талисмани.</p>
                    <p class="contain">С представянето на тибетския стил пред българската аудитория, ние преобразихме изцяло света на бижутата в страната.</p>
                </div>
            </div>
            <div>
                <div class="info-img-3"></div>
                <div class="desc-x">
                    <p class="heading">Ръчно изработени талисмани.</p>
                    <p class="contain">С представянето на тибетския стил пред българската аудитория, ние преобразихме изцяло света на бижутата в страната.</p>
                </div>
            </div>
        </article>
        <hr class="style-two" />
    </section>
</main>