<header>
    <form id="search-bar" action="results-search.php" method="get" enctype="multipart/form-data">
        <label id="search-label" for="search-bar-input"></label>
        <input type="text" placeholder="Търсете прдукти..." name="user-guery" id="search-bar-input"/>
        <button id="search-button" type="submit">Търси</button>
    </form>
    <img id="logo" src="images/logo.png" alt="Logo">
    <nav>
        <ul id="navigation">
            <li>
                <a href="#">Дамска колекция</a>
                <ul class="fallback">
                    <li class="sub-menu"><a class="menu-link" href="#">-Колиета</a></li>
                    <li class="sub-menu"><a class="menu-link" href="#">-Гривни</a></li>
                    <li class="sub-menu"><a class="menu-link" href="#">-Комплекти</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Мъжка колекция</a>
                <ul id="nd-nav" class="fallback">
                    <li class="sub-menu"><a class="menu-link" href="#">-Колиета</a></li>
                    <li class="sub-menu"><a class="menu-link" href="#">-Гривни</a></li>
                </ul>
            </li>
            <li>
                <a href="#">Амулети</a>
            </li>
            <li><a href="#">Gil Delux</a></li>
            <li><a href="#">Пазпродажба</a></li>
            <li><a href="#">Св. Валентин</a></li>
        </ul>
    </nav>
</header>